@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
body {
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    margin: 0;
    padding: 0;
}
.profile-box {
    width: 30%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.70);
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.profile-box-pfp {
    height: auto;
    width: 33%;
    border-radius: 10px;
}
.profile-box li {
    display:inline-block;
    margin: 6px;
    list-style: none;
}
.profile-box li a {
    color: #fff;
    text-decoration: none;
    font-size: 54px;
    transition: all ease-in-out 250ms;
}
.profile-box li a:hover {
    color: #b9b9b9;
}
.page-footer {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}