@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
}
.bar {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px 0;
}
.nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    transition: left 0.3s ease-in-out;
}
.nav.active {
    left: 0;
}
.nav ul {
    list-style-type: none;
    padding: 85px 20px 20px;
}
.nav ul li {
    margin-bottom: 40px;
}
.nav ul li a {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.2s;
}
.nav ul li a:hover {
    color: #b9b9b9;
}
body {
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    padding: 0;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
}
.profile-box {
    width: 30%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.45);
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.profile-box-pfp {
    height: auto;
    width: 33%;
    border-radius: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
.profile-box li {
    display:inline-block;
    margin: 6px;
    list-style: none;
}
.profile-box li a {
    color: #fff;
    text-decoration: none;
    font-size: 54px;
    transition: all ease-in-out 250ms;
}
.profile-box li a:hover {
    color: #b9b9b9;
}
.page-footer {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}